@import url('style.css');
@import url('carrossel.css');
@import url('section_produtos.css');
@import url('nossa_historia.css');
@import url('footer.css');
@import url('notificacoes.css');
@import url('sobrenos.css');
@import url('produtos.css');
@import url('carrinho.css');
@import url('cadastro.css');
@import url('meusdados.css');
@import url('modal-alerta.css');
/* @import url('modal-pagamento.css'); */
