html,

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Sobrenos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.sobrenos {
    width: 70%;
    background: #FFFBB4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.containe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.img {
    width: 45%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    flex-shrink: 0;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img1 {
    margin-left: 5%;
}

#img2 {
    margin-right: 5%;
}

.containe p {
    text-align: center;
    width: 100%;
    height: 500px;
    font-size: 88%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sobrenos h1 {
    font-size: 36px;
    font-weight: bold;
    color: #5B3B27;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#t1 {
    margin-right: 4%;
}

#t2 {
    margin-left: 4%;
}

@media (min-width: 901px) and (max-width: 1200px) {

    .containe p {
        flex: 1;
        text-align: center;
        width: 100%;
        height: 500px;
        font-size: 70%;
        margin-top: 15px;
    }

}


@media (min-width: 320px) and (max-width: 900px) {

    .containe {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .containe p {
        width: 100%;
        height: auto;
        font-size: 90%;
        margin-top: 10px;
    }

    .sobrenos {
        width: 90%;
        background: #FFFBB4;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .sobrenos h1 {
        font-size: 26px;
        padding: 10px;
    }

    #img1, #img2, #t1, #t2 {
        margin: 0; /* Remove margens laterais */
    }
}
